.App {
  text-align: center;
  font-family: "Arial Narrow", "Roboto", "Helvetica", sans-serif, Arial;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2db44b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #2db44b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#button{
  /* background-color: #616161; */
  width: 100%;
  text-transform: capitalize;
  /* border-radius: 15px; */
  /* border: 1px solid #2AB34B; */
  color: #616161;
  }
#button:hover{
  /* background-color: #616161; */
  color: #616161;
  /* border-color: #77BB85; */
}

/* this css is for the charts that were designed by sabbiti */

#whitediv {
  background-color: #fff;
}

#CHARTS {
  text-align: center;
  margin-bottom: 35px;
  color:#0d0d0d;
  font-size:50px;
}
.mega {
  /* margin-bottom: 30px; */
  margin-top: 15px;
  border: solid;
  border-color: #d3d0d0;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  /* background-color: #77BB85; */

}
.chartHeading{
  text-align: center;
  color: rgb(49, 51, 53);


} 
.HR{
  width:'50%';
  border-color: #d3d0d0;
}
.charts{
  width:'100%';
}

.makeStyles-drawerPaper-6{
  width: 300px;
  /* background-color: rgb(43, 47, 58); */
  background-color: #e15c26;
}
.map{
  height: 700px;
  width: 99%;
  margin-left: 0px;
  margin-top: 78px;
  }
  /* .ugmap{
    margin-top: 0px;
    width: 50%;
    height: 80%;
  } */


  .MuiPaper-root {
  background-color: #fff;
  border: #77bb85  solid 2px;
  border-top: springgreen;
  

  
  
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #2AB34B;
  border: solid #77bb85 1px;
  position: fixed;
 
  border-radius: 0.5em;
  

}


#indicatorText{
  
  color: #616161;
  text-align: center;
background-color:#d0d0d0 ;
border-radius: 0.5em;
padding-top: 1em;
margin-top: 20px;
margin-right: 10px;
margin-left: 10px;
}
.Icons{
  
  color: #fff;
  /* display: inline; */
  position: relative;
  bottom: -4em;
  background-color: #d0d0d0;
  padding: 0.7em;
  border-radius: 0.5em;
  margin-right: 10px;
  margin-left: 10px;
 

}
 

#twitter{
  padding-right: 140px;
  color: blue;
  size: 50px;
}

#facebook{
  color: blue;
}
.MuiExpansionPanel-rounded{
  background-color: #2AB34B;
  color: #fff;
  margin: 2%;
  
 
}
.MuiExpansionPanel-rounded:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
/* .MuiIconButton-root {
  /* color: #fff; */
 
/* } */ */

.makeStyles-heading-128{
  font-size: large;
  font-weight: 100;
  flex-basis: 80%;
  flex-shrink: 0;
}

#callout {
  border-radius: 10px;
  position: absolute;
  padding: 8px;
  cursor: pointer;
  z-index: 9999;
  display: block; 
 }

.callout-arrow {
  height: 0;
  width: 0;
  position: absolute;
  cursor: pointer;
  
}


.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(250, 243, 243, 0.603);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100px;
  height: 50px;
 

}

.btn-link:link,
a:link {
  text-decoration: none;
}

path.leaflet-interactive{
  stroke: #e15c26;
}