.App {
  text-align: center;
  font-family: "Arial Narrow", "Roboto", "Helvetica", sans-serif, Arial;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#button{
  background-color: #2db44b;
  width: 100%;
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  font-size: 18px;
}
#button:hover{
  background-color: white;
  color: rgb(45, 180, 75);
  border-color: white;
}
.makeStyles-drawerPaper-4 {
  width: 300px;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: rgb(45, 180, 75);
}
.makeStyles-drawerPaper-4 {
  width: 400px;
}
.MuiPaper-root {
  color: #fff;

}